

@import "./bootstrap/css/bootstrap.min.css";
/* @import 'bootstrap/dist/css/bootstrap.css'; */
@import "./owl.carousel/assets/owl.carousel.min.css";
@import "./owl.carousel/assets/owl.theme.default.min.css";
@import "theme.css";
@import "theme-elements.css";
@import "theme-blog.css";
@import "default.css";
@import "custom.css";
@import "style.css"; 

.getting-started#get_started {
    margin: 80px 0px 40px 0px;
}

.packages-table thead tr div{
    font-size: 1.2rem;
    color: #172B4D, 100% !important;
}

.packages-table thead tr .benefits-heading{
    font-size: 1.2rem;
}

.packages-table thead tr .basic-col, .packages-table tbody tr .basic-col{
    background-color: #F4F5F7;
}

.packages-table thead tr div small{
    font-size: .6rem;
}

.packages-table tbody tr .service-name{
    color: #172B4D, 100%;
    font-size: .8rem;
}

.mobile-packages .plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F4F5F7;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 40px 10px;
}

.mobile-packages .plan .plan-name {
    font-weight: 800;
    font-size: 2rem;
    color: #172B4D;
}

.mobile-packages .plan .plan-price {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 1.3rem;
    color: #172B4D;
}

.mobile-packages .plan small {
    font-weight: 600;
    font-size: 0.7rem;
}

.mobile-packages .plan .plan-button {
    margin: 20px auto;
}

.mobile-packages .plan .plan-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mobile-packages .plan .plan-services .plan-service {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-top: 2px solid #6B778C, 100%;
}

.mobile-packages .plan .plan-services .plan-service .service-name {
    padding: 0px;
    margin: 0px 10px;
}

.mobile-packages .plan .plan-services .plan-service hr {
    width: 100% !important;
    height: 2px;
    border-top: 1px solid #6B778C;
}

.mobile-packages .plan .plan-services .plan-service img {
    height: 20px !important;
    width: 20px !important;
    margin: 0px 10px;
}


.about-header{
    background-image: url(/img/blog/blog1.jpeg);
}

.mission-vision {
    min-height: 300px;
    border: 1px solid #B3D4FF;
    border-radius: 8px;
    width: 70vw;
    margin: auto;
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
}

.mission, .vision {
    width: 300px !important;
    margin: 0px 50px;
    box-shadow: 0px 0px 1px 0px #091E42 31% !important;
    box-shadow: 0px 8px 12px 0px #091E42 15% !important;
}

.mission h2.font-weight-bold, .vision h2.font-weight-bold {
    font-size: 32px !important;
    color: #172B4D, 100% !important;
}

.mission p, .vision p {
    font-size: 18px !important;
    color: #172B4D, 100% !important;
}

.about-divider {
    border-left: 1px solid #4C9AFF;
    height: 200px;
    width: 2px;
    opacity: .5;
}

footer .social-icons-facebook, 
footer .social-icons-twitter, 
footer .social-icons-instagram, 
footer .social-icons-linkedin {
    margin: 10px 10px 0px 0px;
}

@media only screen and (max-width: 425px) {
    .mission-vision {
        padding: 20px 0px;
        width: 90vw;
    }
    .about-divider {
        height: 1px;
        width: 80%;
        border-top: 1px solid #4C9AFF;
        border-left: none;
    }
}

.map-title{
    line-height: 48px;
}

/* .mission {
    border-right: 1px solid #efefef;
} */