@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body, html {
  font-family: 'Nunito', sans-serif;
  transition: all 1s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    transition: all .4s ease-in-out;
  }
  
  :root {
    --primary-text: #172B4D;
    --primary-bg: #083e9e;
    --primary-white: #ffffff;

  }

  a.button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a.text-color-dark {
    color: #2E2C47 !important
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .hero {
    background: url(/img/indexImg/hero\ bg.png) center center/cover;
    height: 100vh;
  }

  .hero-p {
    font-weight: 600 !important;
  }
  
  .hero-img {
    width: 50%;
  }

  .plan-details-modal .plan-details {
    border-radius: 20px !important;
    background-image: none !important;
    min-height: 500px !important;
    height: fit-content !important;
  }

  .plan-details-modal .plan-details .plan-details-header {
    background: linear-gradient(101.29deg, #083E9E 20.02%, #38AAE4 101.4%) !important;
    color: #ffffff !important;
    font-weight: 800 !important;
    border-radius: 20px 20px 0px 0px !important;
  }

  .plan-details-modal .plan-details .plan-details-header .modal-title {
    text-align: left !important;
    font-weight: 800 !important;
    color: #ffffff !important;
    text-transform: uppercase;
  }

  .plan-details-modal .plan-details .plan-details-header .modal-sub {
    float: left !important;
    font-weight: 800 !important;
  }

  .plan-details-modal .plan-details .plan-details-header .plan-details-price {
    font-size: 2rem !important;
    color: #ffffff !important;
    font-weight: 800 !important;
    margin: 0 !important;
  }

  .plan-details-modal .plan-details .plan-details-body p {
    color: #0c0c0c !important
  }

  .plan-details-modal .plan-details .plan-details-body .heading {
    font-weight: 800 !important;
    font-size: 1.2rem !important;
    margin: 0 !important;
  }

  .plan-details-modal .plan-details .plan-details-body .plan-benefit p {
    color: #172B4D !important;
    font-size: .9rem !important;
    margin: 0px 20px 10px 0px !important;
  }

  .plan-details-modal .plan-details .plan-details-body .plan-modal-button {
    width: 150px !important;
    font-weight: 800 !important;
  }

  

  .btn-white {
    background-color: #ffffff !important;
    color: #083E9E !important;
  }
  
  .my-nav {
    box-shadow: 1px 1px 1px 2px rgb(231, 231, 231);
  }
  
  .current {
    border-bottom: 2px solid var(--primary-bg);
    border-radius: 0;
  }
  
  .my-nav-link {
    color: var(--primary-bg) !important;
  }
  
  .contact {
    background: #000;
    margin-bottom: 0px !important;
  }

  .btn {
    height: 50px;
    border-bottom: 10px !important;
    font-weight: 600;
  }

  .container {
    max-width: 85% !important;
  }

  .navbar-brand {
    transform: translateX(-50px);
  }

  @media only screen and (max-width: 768px) {
    .container {
      max-width: 93% !important;
    }
  }

  @media only screen and (max-width: 425px) {
    .navbar-brand {
      transform: translateX(-35px) !important;
    }
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col .button {
    width: 100%;
  }

  .btn.outline-primary {
    background: none;
    border: 1px solid var(--primary-bg) !important;
    color: var(--primary-bg);
  }

  .btn {
    height: 50px;
    border-bottom: 10px !important;
    font-weight: 600;
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col .button {
    width: 100%;
  }

  .btn.outline-primary {
    background: none;
    border: 1px solid var(--primary-bg) !important;
    color: var(--primary-bg);
  }
  
  .button {
    background: var(--primary-bg);
    color: var(--primary-white);
    font-weight: 600;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    margin: auto; */
  }
  
  .dots {
    position: absolute;
    transform: translate(100%, -12%);
    z-index: 0;
    /* height: 100px; */
  }
  
  .dots img {
    height: 400px;
  }
  
  .rectangle {
    width: 100px;
    height: 3px;
    background-color: var(--primary-bg);
    border-radius: 50px;
  }

  .rectangle.stories-rect {
    background-color: #FFFFFF !important;
  }
  
  .service {
    width: 472px;
  }
  
  .service img {
    height: 244px;
    width: 100%;
  }
  
  .service-text {
    border: 1px solid #DEEBFF;
    border-top: none;
  }
  
  .service-what {
    margin-bottom: 7rem !important;
  }
  
  .services-grid {
    background: url(/img/indexImg/dots-background-1\ 1who2.svg);
    background-size: 700px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-position-x: left;
  }
  
  .what-scroll {
    overflow-y: scroll;
    height: max-content;
    transform: translateY(6%);
  }
  
  .what-scroll::-webkit-scrollbar {
    display: none;
  }
  
  .difference-container {
    background: #e9f6fb;
    padding-bottom: 13rem;
  }
  
  .what-card img {
    width: 100%;
  }
  
  .scroll-section .service-head {
    position: sticky;
    top: 0;
    left: 0;
    transform: translate(0%, 20%);
    height: 60vh;
  }
  
  .scroll-section .service-head section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  
  .dots.start {
    position: absolute;
    transform: translate(50%);
    z-index: 0;
    /* height: 100px; */
  }
  
  .dots img {
    height: 350px;
  }
  
  .tech {
    width: 886px;
  }
  
  .tech-section {
    background: url(/img/indexImg/dots-background-1\ 3tech.svg);
    background-size: 700px;
    background-position-y: top;
    background-repeat: no-repeat;
    background-position-x: right;
    margin-bottom: 5rem !important;
  }
  
  .sign-up {
    border: 3px solid #fff;
    width: 163px;
    height: 60px;
  }
  
  .packages {
    width: 100%;
  }
  
  .contact {
    /* margin-bottom: 6rem !important; */
    /* height: 50vh; */
  }
  
  .testimonial-section {
    background: #083e9e !important;
  }
  
  .story {
    border-radius: 7px;
    background: #ededed;
    box-shadow: inset 5px 5px 12px #d5d5d5, inset -5px -5px 12px #ffffff;
  }
  
  .package {
    padding: 30px;
    background: #fff;
    border: 1px solid #deebff;
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15),
      0px 0px 1px rgba(9, 30, 66, 0.31);
    border-radius: 6px;
    z-index: 2;
  }
  
  .package-list {
    list-style: none;
  }
  
  .package-list li > img {
    max-width: 16px;
    height: 16px;
  }
  
  .dots.packages-dots {
    position: absolute;
    display: none;
    transform: translate(50%, -70%);
    z-index: 0;
  }
  
  .dots.packages-dots img {
    position: absolute;
    transform: translate(50%, -70%);
  }
  
  .packages-section {
    background: url(/img/indexImg/dots-background-2\ 1packages.svg);
    background-size: 900px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  
  .my-modal {
    border-radius: 0 !important;
    height: 500px;
    background-image: url(/img/indexImg/bkg\ 2.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 456px;
  }
  
  .close-modal {
    border: none;
    background: none;
    outline: none;
  }
  
  .close-modal span {
    background: #ff7452;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    color: #fff;
    margin: 0 3px;
  }

  .my-form:invalid + .register-button {
    display: none;
  }

  .my-form:invalid + .register-button {
    display: inline-block;
  }
  
  .form-div {
    position: relative;
    min-height: 70px;
    margin-bottom: 1.5rem;
  }

  /* select.form-input {
    height: calc(100% + 20px);
    margin-bottom: 20px;
  } */
  
  .form-input {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    font-size: 1rem;
  }

  .form-input:focus::placeholder {
    color: #0c0c0c;
    opacity: .5;
  }

  .form-input:not(:focus)::placeholder {
    visibility: hidden !important;
  }

  .form-input.select:not(:focus)::placeholder {
    visibility: visible !important;
  }

  .form-input.date:not(:focus) {
    color: transparent !important;
  }

  .form-input.date:valid {
    color: #0c0c0c !important;
  }
  
  .form-label {
    position: absolute;
    left: 1rem;
    top: 1.9rem;
    padding: 0 0.25rem;
  
    font-size: 1rem;
    color: #172B4D;
    transition: 0.3s;
  }
  
  .form-input:focus + .form-label {
    top: -0.5rem;
    left: 0.8rem;
    color: #172b4d;
    font-size: 14px;
    font-weight: 500px;
    z-index: 10;
    background-color: #fff;
  }

  .form-input:valid + .form-label {
    display: none;
  }
  
  .form-input:focus {
    border: 1px solid #083e9e;
  }

  .map-section {
    background-color:#E9F6FB;
    padding: 6rem 0px;
  }
  
  .map-head h4 {
    color: #172b4d;
    font-size: 32px;
    /* width: 50%; */
  }

  .map-img img {
    margin: 10px auto;
  }

  @media only screen and (max-width: 425px) {
    .map-img img {
      padding: 40px
    }
  }
  
  .dots.map {
    position: absolute;
    transform: translate(100%, -100%);
    z-index: 0;
    /* height: 100px; */
  }
  
  .sponsor-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .sponsor-img {
    width: max-content;
    margin: 0px 20px 0px 0px;
  }
  
  .dots.sponsor {
    position: absolute;
    transform: translate(0%, -70%);
    z-index: 0;
  }
  @media (max-width: 490px) {
    img {
      width: 100% !important;
    }
  
    .hero {
      height: 100vh;
    }
    .hero-img {
      margin-top: 20px;
      width: 150% !important;
    }
  
    .started-img {
      width: 100px !important;
    }
  
    .package-img {
      width: 50px !important;
    }
  
    .hero-content {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  
  
    .difference-container {
      background: #e9f6fb;
      padding: 0;
    }
  
    .what-scroll {
      overflow-y: scroll;
      height: max-content;
      transform: translateY(0%);
    }
  
    .scroll-section .service-head {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0%, 0%);
      height: auto;
      /* padding: 1rem; */
    }
  
    .scroll-section .service-head section {
      position: relative;
      top: 0;
      /* left: -10px; */
      transform: translate(-50%, -1%);
  
      padding: 2rem;
    }
  
    .map-head h4 {
      color: #172b4d;
      font-size: 20px;
      width: 100% !important;
    }
    .getting-started{
        margin-top: 77px;
    }
    
    
  }
  